.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px 12px 15px;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + span.checkmark {
  display: inline-block;
  position: relative;
  width: 23px;
  height: 23px;
  border-radius: 6px;
  border: 1px solid var(--color-gray-100);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
}

input[type="checkbox"]:hover + span.checkmark {
  border: 1px solid var(--color-gray-200);
  background-image: url("public/tick.svg");
}

input[type="checkbox"]:active + span.checkmark {
  border: 1px solid var(--color-gray-200);
  background-image: url("public/ticked.svg");
  outline: 3px solid #e8f0fe;
}

input[type="checkbox"]:checked + span.checkmark {
  background-color: var(--color-secondary-200);
  border: 1px solid var(--color-secondary-200);
  background-image: url("public/tick.svg");
}

input[type="checkbox"]:checked:hover + span.checkmark {
  background-color: var(--color-secondary-100);
  border: 1px solid var(--color-secondary-100);
}
